* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
  }


.main-container {
    display: flex;
    
}

.left-sidebar {
    display: grid;
    grid-template-rows: repeat(12,25px) 1fr;
    background-color: lightblue;
    width: 170px;
    gap: 10px;
    transition: 0.1s;
    min-height: calc(100vh - 1.5em);
    padding: 1.5em 0 0 10px;
}


.sidebar-text {
    transition: 1s;
    visibility: visible;
    color: black;
    font-size: 20px;
    padding: 0 0 0 10px;
}

.sidebar-line {
    display: flex;
    align-items: center;
    max-width: max-content;
}

.sidebar-svg {
    height: 25px;
    color: black;
 
}

.dashboard {
    font-size: 25px;
    
}





.right-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 125px 1fr;
    width: calc(100vw - 170px);
    padding: 1em 0 0 0;
    background-color: lightgray;
    
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 3fr;
    margin: 0 1em 1em 0;
    padding: 0 1em 0 0;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 0 0 0 1em;
}

.search {
    width: 85%;
    border: none;
    box-sizing: border-box;
    background-color: lavender;
    border-radius: 50px;
    padding: 2px;
    position: relative;
    left: 10px;
    height: 25px;
}

.search-svg {
    height: 25px;
}

.welcome {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    padding: 0.5em 0 0 1em;
}

.welcome-text {
    padding: 0 0 0 1em;
    font-size: smaller;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
}

.welcome-name {
    font-size: 17px;
}

.account-info {
    display: grid;
    grid-template-columns: 1fr 25px 30px 3fr;
    gap: 25px;
    align-items: center;
}

.bell-icon {
    height: 25px;
    grid-area: 1 / 2 / -1 / 3;
}

.avatar.small {
    width: 30px;
    height: 30px;
    grid-area: 1 / 3/ -1 / 4;
}

.user-full-name {
    font-size: smaller;
    grid-area: 1 / 4 / -1 / 5;
}

.post-buttons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 7px 12px;
    max-width: 90px;
}

.content {
    background-color: lightyellow;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20px;
    column-gap: 20px;
    padding: 1em 1em 0 1em;
    
}

.project-title {
    grid-area: 1 / 1 / 2 / 2;
}

.announcements-title {
    grid-area: 1 / 2 / 2 / -1;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-auto-rows: 180px;
    gap: 20px;
    grid-area: 2 / 1 / 3 / 2;
}

.project-card {
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: lightgray 3px 3px 4px;
    background: linear-gradient(90deg, green 7px, white 7px);
    padding: 25px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 11fr 1fr;
}

.project-card:hover {
    transition: 0.1s;
    box-shadow: lightgray 10px 10px 4px;
    position: relative;
    top: 1px;
    left: 1px;
}

button:hover, .sidebar-line:hover, .content-svg:hover {
    scale: 1.1;
    transition: 0.2s;
    cursor: pointer;
}

button:active {
    scale: 1.05;
}

.card-content {
    font-size: 13px;
}

.card-links {
    justify-self: right;
    display: grid;
    width: 100px;
    grid-template-columns: 1fr 1fr 1fr;
}

.content-svg {
    height: 20px;
    width: 20px;
}
.announcements-trending {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 8% 180px;
    padding: 0 0 1em 0;
}

.announcements {
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: lightgray 3px 3px 4px;
    background-color: white;
    padding: 25px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-area: 1 / 2 / 2 / 3;
    overflow: scroll;
}

.announcement-title {
    font-size: 12px;
    font-weight: 900;
    padding: 10px 0 0 0;
}

.announcement-content {
    font-size: 10px;
    text-overflow: ellipsis;
    padding: 0 0 10px 0;
}

.trending-title {
    grid-area: 2 / 2 / 3 / 3;
    padding: 1em 0 2px 0;
    align-self: flex-end;
}

.trending-card {
    grid-area: 3 / 2 / 4 / 3;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: lightgray 3px 3px 4px;
    background-color: white;
    padding: 0.5em 1em;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 5px;
}


.trending-element {
    display: flex;
    align-items: center;
}

.trending-img {
    width: 30px;
    height: 30px;
}

.cookie {
    border: 3px solid cyan;
    background-color: cyan;
    border-radius: 100px;
}


.jake {
    border: 3px solid rgb(207, 173, 240);
    background-color: rgb(207, 173, 240);
    border-radius: 100px;
}

.luigi {
    border: 3px solid rgb(233, 242, 139);
    background-color: rgb(233, 242, 139);
    border-radius: 100px;
}

.kenny {
    border: 3px solid rgb(153, 255, 151);
    background-color: rgb(153, 255, 151);
    border-radius: 100px;
}

.trending-user {
    padding: 0 0 0 1.5em;
    font-size: 10px;
}

/* Minimizes the sidebar */
@media only screen and (max-width: 686px) {
    .left-sidebar {
        width: 35px;
        transition: .3s;
        
    }
    .sidebar-text {
        visibility: hidden;
        transition: 0.14s;
        color: rgba(0,0,0,0);
    }
    .sidebar-line {
        width: 25px;
    }
    .sidebar-line:hover {
        background-color: rgba(0,0,0,0);
        cursor: initial;
    }
    .sidebar-svg:hover {
        background-color:inherit;
        transition: .3s;
        cursor: pointer;
    }
    .right-content {
        width: calc(100vw - 25px);
    }
    .account-info {
        gap: 4px;
    }
    .post-buttons {
        gap: 4px;
    }
}