* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    grid-template-columns: 1fr 1fr;
}

.left-sidebar {
    display: grid;
    grid-template-rows: repeat(9,25px);
    background-color: lightblue;
    width: 300px;
    gap: 10px;
    transition: 0.3s;
}


.sidebar-text {
    
    transition: 2s;
    visibility: visible;
    color: black;
}


@media only screen and (max-width: 686px) {
    .left-sidebar {
        width: 25px;
        transition: .5s;
    }
    .sidebar-text {
        visibility: hidden;
        transition: 0.3s;
        color: rgba(0,0,0,0);
    }
}

.sidebar-line {
    display: flex;
    align-items: center;
}

.sidebar-svg {
    height: 25px;
    color: black;
}
.sidebar-text {
    font-size: 25px;
}

#search:after {
    content: "hello";
}


.right-content {
    grid-area: 1 / 2 / -1/ -1;
}