.main-container {
    display: grid;
}

.left-sidebar {
    grid-area: 1 / 1 / 2 / -1;
}

.sidebar-line {
    display: flex;
    align-items: center;
}

.sidebar-svg {
    height: 25px;
    color: black;
}
.sidebar-text {
    font-size: 25px;
}